body{
    font-family: ariel, Arial, Helvetica,;
    background-color:rgb(255, 208, 0)
}
.menu{
    list-style: none;
    padding: 0;
    background-color: rgb(255, 255, 255);
    width: 90%;
    max-width: 1000px;
    margin: auto;
}
.menu li a{
    text-decoration:none;
    color:rgb(4, 18, 31);
    padding: 20px;
    display: block;
}

.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a:hover{
    background-color: blueviolet;
}
.caja2{
    background-color: #ffffff;
    width: 300px;
    height: 300px;
    padding-right: 20px;
    padding: 10px 10px 10px 10px;
    margin: 0 1%;
}
.caja3{
    background-color: #ffff;
    width: 300px;
    height: 300px;
    padding: 10px 10px 10px 10px;
    margin: 0 1%;
}
.caja4{
    background-color: #ffff;
    width: 300px;
    height: 300px;
    padding: 10px 10px 10px 10px;
    margin: 0 1%;
}
.display-1 {
    display: flex;
}
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}